body {
    background: #ccc;
    padding: 15px;
    margin: 15px;
}

#title, .subtitle, .post_title {
    color: blue;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
    border: 2px solid #505050;
    border-radius: 2px;    
}

.post_img {
    border-radius: 5px;
}


.post {
    background: white;
    padding: 10px;
    border: 2px solid #000;
    margin: 15px;    
}

.post_text {
    margin: 0;
    margin-top: 15px;
}

